/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: 'IBM Plex mono', sans-serif;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  margin-bottom: 39px;
}

.rec {
  position: absolute;
}

.rec::before {
  position: absolute;
  top: 11px;
  right: 37px;
  content: "REC";
  color: var(--decorated-color);
  font-size: var(--text-size-s);
}

.rec::after {
  position: absolute;
  top: 18px;
  right: 18px;
  content: "";
  color: var(--decorated-color);
  background-color: var(--decorated-color);
  inline-size: 9px;
  block-size: 9px;
  margin-left: 5px;
  border: 2px solid var(--decorated-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decorated-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 9px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--decorated-color);
  border-inline-end: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 11px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--decorated-color);
  border-inline-start: 1px solid var(--decorated-color);
}

.header__theme-menu {
  display: flex;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 74px;
  margin-right: 10px;
}

.header__theme-menu-button {
  background: none;
  padding: 0px 13px  1px;
  margin: 0;
  border: none;
  outline: none;
  color: var(--button-text-color);
  font-size: var(--text-size-s);
  font-weight: 400;
  font-family: 'IBM Plex Mono', sans-serif;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-accent-color);
  pointer-events: none;
}

.title-decor {
  color: var(--large-title-color);
  font-size: var(--text-size-l);
  font-weight: 700px;
  line-height: 83%;
}

.header-title {
  display: flex;
  flex-direction: column;
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: center;
  margin-right: 2%;
}

.header-description {
  background-color: var(--accent-color);
  color: var(--text-color);
  margin: 55px 10px 66px;
  font-size: var(--text-size-s);
  font-weight: 700;
  line-height: 23.4px;
}

.line {
  display: block;
}

.main {
  display: flex;
  gap: 50px;
  flex-direction: column;
  margin-bottom: 40px;
}

.main-section {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.main-section-images {
  gap: 10px;
}

.main-section-title {
  font-size: var(--text-size-s);
  color: var(--small-title-color);
  font-weight: bold;
  line-height: 23.4px;
}

.subtitle {
  font-size: var(--text-size-s);
  color: var(--text-color);
  background-color: var(--accent-bg-color);
}

.main-section-subtitle {
  font-weight: bold;
}

.tip__subtitle {
  margin-top: 19px;
  font-weight: normal;
}

.section-split__content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.main-section-text {
  margin-top: 11px;
  font-size: var(--text-size-s);
  color: var(--sakura-text-color);
  font-weight: normal;
  line-height: 23.4px;
}

.link-decor {
  color: var(--sakura-text-color);
  font-size: var(--text-size-s);
  font-weight: normal;
  text-shadow: 1px 2px 0 var(--accent-color);
  line-height: 83%;
  text-decoration: none;
}

.link-decor:hover {
  border-bottom: 1px solid currentColor;
}

.link-decor:focus {
  outline: none;
  border: 1px solid currentColor;
}

.focus-decline__custom {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.focus-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 668px;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
}



@media screen and (min-width: 768px) {
  .page {
    min-inline-size: 768px;
    margin: 0 auto;
  }

  .header {
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 1024px;
    margin-bottom: 44px;
  }

  .rec::before {
    top: 21px;
    right: 49px;
  }
  
  .rec::after {
    top: 28px;
    right: 29px;
  }
  
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    align-self: center;
    margin-top: 63px;
    margin-right: 12px;
  }

  .header-title {
    --text-size-l: 120px;
    flex-direction: row;
    gap: 14%;
    align-self: center;
    justify-self: start;
  }

  .line {
    display: inline;
  }

  .header-description {
    align-self: center;
    justify-self: end;
    inline-size: 47.396%;
    margin: 0px 20px 141px 0px;
  }

  .header-description .line {
    display: block;
  }

  .main {
    gap: 65px;
    margin-bottom: 60px;
  }

  .section-split {
    display: grid;
    grid-template-columns: 32.5% 66.58%;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .section-split__content {
    gap: 20px;
    padding-right: 14px;
  }

  .main-section-text {
    margin-top: 10px;
  }

  .main-section {
    padding: 15px 19px 0px 20px;
  }

  .focus-decline__title {
    padding-right: 600px;
  }

  .focus-decline__custom {
    gap: 20px;
  }

  .main-section-text__focus-tips {
    margin-top: 12px;
  }

  .focus-images {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, calc(95% / 3));
    grid-template-rows: 24.75% 29.35% 40.95%;
    gap: 20px;
  }

  .focus-tips-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .img__sunset {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
  }

  .img__ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .img__tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .img__books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .img__street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-height: 1024px;
    --text-size-l: 120px;
  }
}


@media screen and (min-width: 1024px) {
  .header {
    grid-template-rows: 1fr min-content 1fr;
    min-height: 768px;
  }

  .rec::before {
    top: 20px;
    right: 48px;
  }
  
  .rec::after {
    top: 28px;
    right: 28px;
  }
  
  .decorated-zone::before {
    top: 20px;
    right: 19px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 21px;
  }

  .header__theme-menu {
    margin: 0;
    justify-self: center;
    align-self: flex-start;
    margin-top: 19px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
    margin: 0;
  }

  .header-title {
    --text-size-l: 157px;
  }
  
  .header-title > .line {
    display: inline;
  }

  .header-description {
    inline-size: calc(47.396% + 5px);
    margin: 0px 2% 20px 0px;
  }

  .section-split {
    grid-template-columns: 31.7% 67.4%;
  }

  .main-section {
    gap: 22px;
  }

  .focus-decline__custom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .focus-decline__title {
    padding-right: 700px;
    line-height: 22.4px;
  }

  .main-section-images {
    gap: 18px;
  }

  .focus-images {
    margin-top: 0px;
    grid-template-columns: repeat(3, calc(96.347032% / 3));
    grid-template-rows: 24.9% 30.19% 41.35%;
  }

  .footer {
    min-height: 768px;
    --text-size-l: 157px;
  }
} 