:root {
  --bg-image: url(../images/cover-image-dark.png);
  --text-size-s: 18px;
  --text-size-l: 116px;
  --decorated-color: #FF0070;
  --large-title-color: #DB00FF;
  --small-title-color: #;
  --accent-color: #FF0070;
  --accent-bg-color: #FF0070;
  --text-color: #000028;
  --bg-color: #000028;
  --sakura-text-color: #F1B2CE;
  --button-text-color: #FF0070;
  --button-accent-color: #FF0070;
}
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/